<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.author.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter_username }}">

  <meta property="og:type" content="article">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title | truncate: 70 }}">
  <meta property="og:title" content="{{ page.title | truncate: 70 }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title | truncate: 70 }}">
  <meta property="og:title" content="{{ site.title | truncate: 70 }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.title %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description | truncate: 200 }}">
  <meta property="og:description" content="{{ site.description | truncate: 200 }}">
{% endif %}

  <link rel="apple-touch-icon" sizes="48x48" href="{{ "images/favicons/tux/tux_48x48.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="64x64" href="{{ "images/favicons/tux/tux_64x64.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="128x128" href="{{ "images/favicons/tux/tux_128x128.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "images/favicons/tux/tux_16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ "images/favicons/tux/tux_32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "images/favicons/tux/tux_48x48.png" | prepend: site.baseurl }}" sizes="48x48">
  <link rel="icon" type="image/png" href="{{ "images/favicons/tux/tux_64x64.png" | prepend: site.baseurl }}" sizes="64x64">
  <link rel="icon" type="image/png" href="{{ "images/favicons/tux/tux_128x128.png" | prepend: site.baseurl }}" sizes="128x128">
  <link rel="manifest" href="{{ "images/favicons/manifest.json" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "images/favicons/tux/tux.ico" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="{{ "images/favicons/mstile-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}feed.xml">
</head>
