---
layout: default
---

<div class="container post-container">
    <h1>$ ls writings/</h1>
    <!-- Posts -->
    <ul id="posts">

        {% assign sorted_posts = (site.posts | sort: 'date') | reverse %}
        {% for post in sorted_posts %}

          <li class="post">
            <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a> -
          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-meta"> <i>{{ post.date | date_to_string }}</i> </time>
            <p>{{ post.content | strip_html | truncatewords:50 }}</p>
            <span class="post-meta">Posted under:</span>
            {% for category in post.categories %}
            <span class="label label-default">{{ category }}</span>
            {% endfor %}
          </li>

        {% endfor %}

    </ul>
</div>
