---
layout: default
---
<div class="container post-container">
    <article id="post-page">
        <h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>
        <span class="post-meta">By {{ page.author }} -&nbsp;</span><time datetime="{{ page.date | date_to_xmlschema }}" class="post-meta">{{ page.date | date_to_string }}</time>
        <div class="content text-justify">
            {{ content }}
        </div>
        <hr>
        <span class="post-meta">Posted under:</span>
        {% for category in page.categories %}
        <span class="label label-default">{{ category }}</span>
        {% endfor %}
    </article>
</div>
