@import url(https://fonts.googleapis.com/css?family=Lato:900);

body {
    color: #333333;
    font-family: Hack, monospace;
}

a {
    color: #0074D9;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Hack, sans-serif;
    color: #111;
    margin-bottom: 1em;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h1 a, h1 a:hover, h1:focus {
    color: inherit;
}

img {
    vertical-align: middle;
}

.emoji {
    max-width: 20px;
    max-height: 20px;
}

.index-container {
    max-width: 33em;
    margin: 0 auto;
    margin-top: 5em;
}

.post-container {
    max-width: 80em;
    margin: 0 auto;
    margin-top: 5em;
}

time {
    display: inline-block;
    color: #BBBBBB;
    margin-bottom: 1em;
}

.shadow-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
